/* ===== global ==== */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  font-family: Montserrat;
  /* globalnaya aksioma dlya vsei verstki */
}

#gray {
  background: #f9f9f7;
}
/* ====== button ========= */

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  width: 214px;
  height: 48px;

  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

#light-green {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
  background: #7bc242;
}

#dark-green {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
  background: #498460;
}

#white {
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.button-link {
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #498460;
}

/* ===== fonts ===== */

@font-face {
  font-family: "Montserrat";
  src:
    url("./fonts/Montserrat-Regular.ttf") format("ttf"),
    url("./fonts/Montserrat-Regular.woff") format("woff"),
    url("./fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap; /* важно для производительности */
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./fonts/Montserrat-Medium.ttf") format("ttf"),
    url("./fonts/Montserrat-Medium.woff") format("woff"),
    url("./fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500; /* normal */
  font-style: normal;
  font-display: swap; /* важно для производительности */
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./fonts/Montserrat-SemiBold.ttf") format("ttf"),
    url("./fonts/Montserrat-SemiBold.woff") format("woff"),
    url("./fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600; /* normal */
  font-style: normal;
  font-display: swap; /* важно для производительности */
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./fonts/Montserrat-Bold.ttf") format("ttf"),
    url("./fonts/Montserrat-Bold.woff") format("woff"),
    url("./fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700; /* normal */
  font-style: normal;
  font-display: swap; /* важно для производительности */
}

/* ============ header-upper ============ */

.header-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
}

.header-worktime {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: #390246;
}

.header-worktimelogo {
  padding-right: 21px;
}

.header-phone {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.03em;
  color: #2e2e2e;
}

.header-phonenumber {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: -0.01em;
  color: #390246;
}

.header-phonelogo {
  padding-right: 12px;
}

.header-upper__buttonmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
}

.button-user {
  padding-right: 10px;
}

/* header-dwn */
.nav-menu {
  box-shadow: 0 10px 45px 0 rgba(0, 0, 0, 0.23);
  background: #498460;
  margin-top: 37px;
}

.header-dwn {
  display: flex;
  align-items: center;
  height: 57px;
  justify-content: space-between;
}

.header-dwn_navmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  width: 835px;
  margin-right: 95px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.header-dwn_search {
  border-radius: 4px;
  width: 447px;
  height: 37px;
  position: relative;
}

.header-dwn_navmenu-input {
  border-radius: 4px;
  width: 447px;
  height: 37px;
  padding-left: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  color: #8c8c8c;
}

.header-dwn_searchimg {
  position: absolute;
  right: 10px;
  top: 30%;
}

/* ====== main ====== */

.main-openpage-discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, #f9f9f7 0%, rgba(255, 255, 255, 0) 100%);
}

.left-main-openpage-content {
  margin-bottom: 17px;
  margin-top: 30px;
}

.left-main-openpage-content > h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 278%;
  color: #868686;
  margin-bottom: 36px;
}

.left-main-openpage-content > h1 {
  font-weight: 600;
  font-size: 35px;
  line-height: 131%;
  color: #000;
  height: 88px;
  width: 583px;
}

.main-openpage-price {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 356px;
  height: 57px;
}

.main-openpage-newprice {
  font-weight: 400;
  font-size: 35px;
  line-height: 131%;
  color: #000;
}

.openpage-button-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 454px;
  height: 48px;
}

.maloi {
  border-radius: 5px;
  width: 643px;
  height: 400px;
}

/* slider */

.slider-dots-position {
  display: flex;
  align-items: center;
}

.slider-dots > .slick-dots > .slick-active > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #7bc242; /* fill */
  border: 0.5px solid #a3a3a3; /* stroke */
  box-sizing: border-box;
}

.slider-dots > .slick-dots > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #d9d9d9; /* fill */
  border: 0.5px solid #a3a3a3; /* stroke */
  box-sizing: border-box;
}

.slider-dots > .slick-dots > li {
  margin-bottom: 5px;
}

.slider-dots {
  margin-right: 33px;
}

.right-main-openpage-slider {
  background: linear-gradient(0deg, #f9f9f7 0%, rgba(255, 255, 255, 0) 100%);
  width: 643px;
  height: 400px;
  align-items: center;
  justify-content: space-between;
}

/* ======= main ======= */

.main-openpage-aboutuscards-content {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-openpage-aboutuscards-content > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: 325px;
  height: 291px;
  background: #fff;
}
.main-openpage-aboutuscards-content li > img {
  margin-top: 25px;
  margin-bottom: 20px;
}

.main-openpage-aboutuscards-content li > h1 {
  margin-bottom: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000;
}

.main-openpage-aboutuscards-content li > p {
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #585858;
  height: 105px;
  width: 278px;
}

/* =========== main-doctors ========= */

.main-services {
  display: flex;
  align-items: center;
  margin-top: 45px;
  width: 1401px;
  height: 805px;
}

.main-selectdoctor {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#firstcolumn {
  margin-left: 64px;
}
#secondcolumn {
  margin-left: 25px;
}

.main-selectdoctor > a {
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 281%;
}

.main-selectdoctor > a:hover {
  text-decoration: underline;
  color: #498460;
  transition: 0.4s;
}

.button-selectdoctor {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 224px;
  height: 54px;
  margin-bottom: 20px;
}

.button-selectdoctor,
#white:hover {
  background: #498460;
  color: #fff;
  transition: 0.4s;
}

/* =========  slider-doctor ======= */

.selector-slider-doctors {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.slider-doctor > .container > h3 {
  font-weight: 600;
  font-size: 35px;
  line-height: 126%;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
  margin-top: 63px;
}

.card-void {
  margin-left: 23px;
  margin-top: 26px;
  margin-right: 17px;
  margin-bottom: 26px;
}

.photo-item {
  display: flex;
  align-items: center;
}

.slider-aboutcard {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 442px;
  height: 391px;
}

.slider-card-info {
  display: flex;
  margin-bottom: 19px;
}

.doctor-card {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  line-height: 139%;
  color: #000;
  margin-left: 34px;
}

.item-workname {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #498460;
}

.slider-item-about {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.item-experience {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 160px;
  height: 43px;
  margin-right: 34px;
}

.experience-number {
  font-weight: 600;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.04em;
  color: #498460;
}

.item-underground {
  display: flex;
  align-items: center;
}

.underground-name {
  margin-left: 19px;
}

.slider-item-button {
  display: flex;
  gap: 19px;
}

/* ===== slider with doctors === */

.dots-doctors-slider > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
}

.dots-doctors-slider > ul > li {
  margin-right: 6px;
}

.dots-doctors-slider > .slick-dots > .slick-active > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #7bc242; /* fill */
  border: 0.5px solid #a3a3a3; /* stroke */
  box-sizing: border-box;
}

.dots-doctors-slider > .slick-dots > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #d9d9d9; /* fill */
  border: 0.5px solid #a3a3a3; /* stroke */
  box-sizing: border-box;
}

/* =========== about-hospital ========== */
.about-hospital-inner {
  display: flex;
  margin-top: 80px;
}

.about-hospital-wrapper {
  margin-left: 49px;
}

.text-about-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 131%;
  color: #000;
  margin-bottom: 26px;
}

.text-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #000;
  margin-bottom: 18px;
}

.text-about-more > a {
  font-weight: 400;
  font-size: 15px;
  color: #000;
}

.text-about-more > a:hover {
  text-decoration: underline;
  color: #498460;
  transition: 0.4s;
  font-weight: 400;
  font-size: 15px;
}

/* ======== hospital adresss ====== */

#green {
  color: #498460;
}

#blue {
}

#purple {
  color: #b254a4;
}

#orange {
  color: #ff9314;
}

.adress-hospital > .container > h3 {
  font-weight: 600;
  font-size: 35px;
  line-height: 126%;
  text-align: center;
  color: #000;
  margin-top: 77px;
  margin-bottom: 22px;
}

.adress-hospital-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.hospital-card {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 331px;
  height: 358px;
  background: #f9f9f7;
}

.hospital-card-inner {
  margin-top: 22px;
  margin-left: 36px;
  margin-bottom: 33px;
  margin-right: 39px;
}

.hospital-metro {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.hospital-metro-inner {
  margin-left: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  color: #0e97c2;
}

.hospital-name {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.hospital-name-inner {
  font-weight: 700;
  font-size: 20px;
  line-height: 230%;
  color: #000;
  margin-left: 8px;
}

.adress-hospital-card {
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #585858;
  margin-bottom: 15px;
}

.line-card {
  border: 1px solid #ddd;
  width: 256px;
  height: 0px;
  margin-bottom: 18px;
}

.worktime {
  display: flex;
  margin-bottom: 7px;
}

.worktime-logo {
  margin-right: 7px;
}

.phonenumber {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.phonenumber-inner {
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  color: #585858;
  margin-left: 7px;
}

.hospital-card > .hospital-card-inner > button {
  width: 256px;
  height: 48px;
}
