/* ===== global ==== */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  font-family: Montserrat;
  /* globalnaya aksioma dlya vsei verstki */
}

/* ====== button ========= */

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  width: 214px;
  height: 48px;

  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

#light-green {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
  background: #7bc242;
}

#dark-green {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
  background: #498460;
}

/* ===== fonts ===== */

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("ttf"),
    url("./fonts/Montserrat-Regular.woff") format("woff"),
    url("./fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap; /* важно для производительности */
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf") format("ttf"),
    url("./fonts/Montserrat-Medium.woff") format("woff"),
    url("./fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500; /* normal */
  font-style: normal;
  font-display: swap; /* важно для производительности */
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.ttf") format("ttf"),
    url("./fonts/Montserrat-SemiBold.woff") format("woff"),
    url("./fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600; /* normal */
  font-style: normal;
  font-display: swap; /* важно для производительности */
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("ttf"),
    url("./fonts/Montserrat-Bold.woff") format("woff"),
    url("./fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700; /* normal */
  font-style: normal;
  font-display: swap; /* важно для производительности */
}

/* ============ header-upper ============ */

.header-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
}

.header-worktime {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: #390246;
}

.header-worktimelogo {
  padding-right: 21px;
}

.header-phone {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.03em;
  color: #2e2e2e;
}

.header-phonenumber {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: -0.01em;
  color: #390246;
}

.header-phonelogo {
  padding-right: 12px;
}

.header-upper__buttonmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
}

.button-user {
  padding-right: 10px;
}

/* header-dwn */
.nav-menu {
  box-shadow: 0 10px 45px 0 rgba(0, 0, 0, 0.23);
  background: #498460;
  margin-top: 37px;
}

.header-dwn {
  display: flex;
  align-items: center;
  height: 57px;
  justify-content: space-between;
}

.header-dwn_navmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  width: 835px;
  margin-right: 95px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.header-dwn_search {
  border-radius: 4px;
  width: 447px;
  height: 37px;
  position: relative;
}

.header-dwn_navmenu-input {
  border-radius: 4px;
  width: 447px;
  height: 37px;
  padding-left: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  color: #8c8c8c;
}

.header-dwn_searchimg {
  position: absolute;
  right: 10px;
  top: 30%;
}
